.todo-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.del {
  cursor: pointer;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: white;
  margin-right: 5px;
}
.imp {
  font-size: 30px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: white;
}
.on-label-click {
  text-decoration: line-through;
}
.on-mark-important {
  font-weight: bold;
  color: steelblue;
}
.isImp {
    color: gold;
}
.icon {
  color: rgb(62, 122, 122);
}