.main {
    background-image: url('components/images/img.png');
    width: 100%;
    min-height: 100vh;

    &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 200px;
    padding-bottom: 20px;
    }
}