.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $BUTTON-GALLERY-COLOR;
    font-family: $BASE-FONT-FAMILY;
    color: #fff;
    text-transform: uppercase;
    font-size: $H20;
    font-weight: 300;
    height: 50px;
    width: 200px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    &--gallery {
        margin-bottom: 140px;
    }
    &--subscribe {
        background: $BUTTON-SUBSCRIBE-COLOR;
    }
}