.form {
    display: flex;
    &__input {
        height: 50px;
        padding: 20px;
        border: none;
        line-height: 25px;
       // outline: none;
        &--subscribe {
            @include text($H15, 300, $FONT-GALLERY-COLOR);
            border: 1px solid #262626;
            width: 570px;
            margin-right: 30px;
        }
        }
}