.lights {
    @include flex(flex-start, center, column);
    width: 100px;
    height: 350px;
    background-color: rgb(46, 42, 42);
    border-radius: 20px;
    &__colors {
        @include size(70px);
        border-radius: 50%;
        margin-top: 15px;
        opacity: 0.4;
        &--red {
            background-color: red;
        }
        &--red._active {
            opacity: 1;
        }
        &--yellow {
            background-color: orange; 
        }
        &--yellow._active {
            opacity: 1;
        }
        &--green {
            background-color: green;
        }
        &--green._active {
            opacity: 1;
        }
    }
}