.form {
    @include flex(flex-start, stretch, column);
    margin-right: 170px;
    max-width: 500px;
    width: 100%;
    &__input { 
        @include placeholder {
            @include text($H15, 300, $WHITE);
        }
        height: 50px;
        padding: 20px;
        background-color: rgba(0, 196, 196, 0.5);
        border: none;
        border-left: 5px solid transparent;
        transition-property: border-color;
        transition-duration: 0.4s;
        transition-timing-function: ease;
        @include text($H15, 700, $WHITE);
        line-height: 25px;
        outline: none;
        &--large {
            max-height: 250px;
            height: 100vh;
            flex-grow: 1;
        }
    }
    &__input:not(:last-of-type) {
        margin-bottom: 15px;
    }
    &__input:focus {
        border-left: 5px solid $LEFT-BORDER-COLOR;
        background-color: $INPUT-COLOR-FOCUS;
    }
}