.title {
    @include text($H90, 700);
    line-height: 25px;
    &__header {
    margin-top: 101px;
    margin-bottom: 48px;
    }
    &__description {
        max-width: 350px;
        margin: 0 auto;
        @include text($H17, 400);
        line-height: 25px;
        margin-bottom: 46px;
    }
}