* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    font-family: "Ralewey";
  }
  
  .container {
    display: flex;
    flex-direction: column;
    padding: 0 200px;
  }