.card {
    @include flex(center, stretch, row, wrap);
    max-width: 400px;
    height: 100px;
    background-color: $WHITE;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    &__name {
        @include flex(flex-start, center); 
        @include text($H20, 700);
        line-height: 27px;
        margin: 0 72px;
    }
    &__icon {
        @include flex(flex-start, center);
        border-left: 1px solid $BLACK;
        border-color: $BORDER-COLOR;
        padding: 26px 28px;
    }
}
.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}