* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --HEADER-BG-COLOR: #474E50;
    --FOOTER-BG-COLORL: #444B4D;
    --EVEN-LIST-COLOR: #78778F;
    --ODD-LIST-COLOR: #85849A;
    --LIST-FEATURES-COLOR: #ffffff;
    --H-COLOR: #EE8980;
    --BG-COLOR: #373F41;
}
body {
    font-family: \'Trebuchet\', Arial, sans-serif;
    background-color: var(--BG-COLOR);
}
.main {
    min-height: 100vh;
    border: 15px solid #ffffff;
    
}
.header {
    background-color: var(--HEADER-BG-COLOR);
    color: var(--H-COLOR);
    text-align: center;
    margin-bottom: 25px;
    font-size: 14px;
    padding: 13px 0;
}
.h1 {
    margin-bottom: 3px;
    font-weight: 600;  
}
.h3 {
    font-weight: 400;
}
.footer-h3 {
    font-weight: 400;
}
.checkbox-list {
    list-style: none;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
.checkbox-list__features {
    padding: 12px;
    color: var(--LIST-FEATURES-COLOR);
}
.checkbox-list__features:nth-child(odd) {
    background-color: var(--ODD-LIST-COLOR);
}
.checkbox-list__features:nth-child(even) {
    background-color: var(--EVEN-LIST-COLOR);
}
.footer {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--FOOTER-BG-COLORL);
    color: var(--H-COLOR);
    text-align: center;
    padding: 13px 0;
}