//Colors
$WHITE: #fff;
$BLACK: #000;
$BG-GALLERY-COLOR: #ffe92f;
$BUTTON-GALLERY-COLOR: #5585a2;
$FONT-GALLERY-COLOR: #262626;

//
$base-font-size: 16px;
$BASE-FONT-FAMILY: 'Raleway';

//Font Sizes
@function calcRem($size) {
    $remSize: $size / $base-font-size;
    @return #{$remSize}rem;
}

$H90: calcRem(90px);
$H20: calcRem(20px);
$H17: calcRem(17px);