.list {
    display: flex;
    list-style: none;
    &__item {
        display: inline;
        width: 25%;
    }
    &__item:hover {
        background-color: $MAIN-COLOR;
    }
    &__item:hover .card {
        color: $WHITE;
    }
    &__item:hover .card__description {
        color: $WHITE;
    }
    &__item:hover svg {
        fill: $WHITE;
    }
}