.app-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.title {
    margin: 0 0 10px;
}
.subtitle {
    margin: 0 0 10px;
}