* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    touch-action: manipulation;
}
.header {
    text-align: center;
    background-color: #990909;
    padding: 10px;
}
.body {
    margin-left: 15px;
    background-color: #990909;
   }
.ul {
    padding-bottom: 3px;
}
.list-top {
    padding-top: 30px;
    list-style: none;
    background-color: black;
    text-align: center;
}
.figcaption {
    color: white;
    padding-bottom: 5px;
}
.li {
    display: inline-block;
    margin: 0 80px;
    }
.content {
    display: flex;
    padding-left: 2px;
    padding-right: 4px;
    padding-bottom: 20px;
}
.nav {
    background-color: #7d0909;  
    float: left;
    width: 700px;
}
.list-left {
    list-style: none;
}
.link:not(:last-of-type) {
    padding-bottom: 15px;
}
.a {
    color: #e95b11;
}
.p {
    padding-top: 15px;
    color: #fff;
}
.article {
   padding-left: 5px; 
}
.aside {
    float: right;
    background-color: #E3DDDD;
    width: 700px;
}
.list-right {
    list-style: none;
    padding: 8px 2px 12px;
}
.other:not(:last-of-type) {
    padding-bottom: 10px;
}
.h4 {
    text-align: center;
    background-color: #BDBDBD;
    margin: 1px 1px 1px 1px;
}
.hr {
    height: 1px;
    width: 80px;
    display: block;
    margin: 0 auto;
    background-color: #BDBDBD;
    margin-top: 7px;
    margin-bottom: 13px;
}
.dfooter {
    padding-left: 3px;
    padding-right: 4px;
}
.footer {
    text-align: center;
    color: #fff;
    background-color: #e95b11;
    padding-right: 3px;
}